@font-face {
    font-family: RussoOne;
    src: url(RussoOne-Regular.ttf);
  }


body {
    font-family: RussoOne;
    font-weight: 500;
    background: black;
}

.main {
    height: 80vh;
    width: 80vw;
    padding: 10px;
    border: 2px solid white;
    position: absolute;
    top:  50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.main p {
    position: absolute;
    top:  50%;
    left: 50%;
    transform: translate(-50%,-50%);  
    color: white;
    font-size: 100px;  
}

/* .topbar {
    background: black;
    overflow: hidden;
    height: 150px;
}

.topbar a {
    float:left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    font-size: 20px;
}

.topbar a:hover {
    background: rgb(216, 216, 255);
    color: blue;
} */
 
/* .topnav a.active {
background-color: #04AA6D;
color: white;
} */