body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
}

.topbar {
    background: black;
    color: white;
    overflow: hidden;
}

.topbar a:hover {
    background: rgb(216, 216, 255);
    color: black;
}